/*Färgkoder: Mörkbrunt #51473d 
            Beigebruna färgen i flikarna #797066
            Ljusbeige #eae7d2*/
            
/*övergripande layout*/
            
#container {max-width: 960px;
            border: 1px solid;
            border-color: #eae7d2;
            overflow: auto;
            margin-left: auto;
            margin-right: auto;}
            
#topbar     {padding: 20px;
            margin: 20px;
            background-color: #51473d;
            height: 350px;
            text-align: right;
            color: white;
            border: 1px solid;
            border-color: #eae7d2;
            background-image:url(pics/coffey.jpg); 
            background-repeat: no-repeat;
            background-size: 900px;
            background-position: center;}

#content {background-color: #eae7d2;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: 1px solid;
        border-color: #eae7d2;
        height: 350px;}

#maincontent {background-color: #eae7d2;
            float: left;
            width: 540px;}
            
#maincontent img {float: left;
                padding: 5px;
                margin-left: 20px;}
            
#subcontent {background-color: #eae7d2;
            float: right;
            width: 340px;
            border-left: 1px dashed;
            border-color: #797066;}
            
#bottomcontent {background-color: #eae7d2;
                color: #51473d;
                font-family: "Verdana", "Times New Roman", sans-serif;
                font-size: 0.7em;
                font-style: italic;
                float: left;
                float: bottom;}
                
/*Meny*/       
#menu {width: 700px;
            display: inline;
            }
            
#menu a.active {background-color: #eae7d2;} 
            
#menu li {display: inline-block;
    list-style-type: none;
    width: auto;
    float: left;
    border-right: 1px solid;
    border-color: #51473d;
    margin: 0;
    padding: 0;
   }
        
#menu ul {font-family: "Verdana", "Times New Roman";
        font-size: 1em;
        border-bottom: none;
         background-color: #51473d;}
        
#menu li a {display: block;
    padding: 10px;
    background-color: #797066;
    color: white;
    text-decoration: none;}
    
#menu li a:hover {color: #767066;
        background-color: #eae7d2;}

#menu a.active {background-color: #797066;
                color: white;}
                
/*Typsnitt och stolekar*/

#maincontent p {color: #767066;
    font-family: "Verdana", "Times New Roman", sans-serif;
    font-size: 1em;
    padding: 5px;
    margin-left: 20px;}
    
#maincontent h1 {color: #767066;
                font-family: "Verdana", "Times New Roman", sans-serif;
                font-size: 1.5em;
                margin-left: 20px;}
                
#subcontent p {color: #767066;
            font-family: "Verdana", "Times New Roman", sans-serif;
            font-size: 0.8em;
            padding: 5px;
            margin-left: 20px;}

#subcontent h1, h2 {color: #51473d;
    font-family: "Verdana", "times new roman", sans-serif;
    font-size: 1em;
    margin-left: 20px;}


                



 
    
            





