/*Färgkoder: Mörkbrunt #51473d 
            Beigebruna färgen i flikarna #797066
            Ljusbeige #eae7d2
            Mouseover #9c9084 */
            
/*övergripande layout*/
            
#container {max-width: 960px;
            border: 1px solid;
            border-color: #eae7d2;
            overflow: auto;
            margin-left: auto;
            margin-right: auto;}
            
#topbar     {padding: 20px;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 10px;
            margin-bottom: -20px;
            background-color: #51473d;
            height: 350px;
            text-align: right;
            color: white;
            border: 1px solid;
            border-color: #eae7d2;
            background-image:url(pics/coffey.jpg); 
            background-repeat: no-repeat;
            background-size: 900px;
            background-position: center;
            overflow: auto;}

#content {background-color: #eae7d2;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-top: 0;
        border: 1px solid;
        border-color: #eae7d2;
        height: 350px;
        padding: 0;}

#maincontent {background-color: #eae7d2;
            float: left;
            width: 540px;
            padding: 0;}
            
#maincontent img {float: left;
                margin-right: 5px;
                margin-left: 20px;}
                
#bottomcontent {background-color: #eae7d2;
                color: #51473d;
                font-family: "Verdana", "Times New Roman", sans-serif;
                font-size: 0.7em;
                font-style: italic;
                float: left;
                width: 910px;
                height: 10px;
                text-align: left;
                bottom: 0;
                margin-left: 20px;
                padding: 0;}
                
#subcontent {background-color: #eae7d2;
            float: right;
            width: 340px;
            border-left: 1px dashed;
            border-color: #797066;}
                
/*Meny*/      

a[href='#maincontent'] {display: none;}

#menu {width: 100%;
        display: inline;
        padding: 0;
        text-transform: capitalize;
        background-color: #51473d;}
                
#menu li {display: inline-block;
    list-style-type: none;
    width: auto;
    float: left;
    border-right: 1px solid;
    border-color: #51473d;
    padding: 0;
    background-color: #797066;
    color: white;
    margin-top: -37px;}
        
#menu ul {font-family: "Verdana", "Times New Roman";
        font-size: 1em;
        border-bottom: none;}

#menu li a {display: block;
    padding: 10px;
    text-decoration: none;
    color: white;}
    
#menu a.active {color: #797066;} 
    
#menu li a:hover {color: white;
        background-color: #9c9084;}

#menu li.active {background-color: #eae7d2;
                color: #797066;}
                
/*Typsnitt och stolekar*/

#maincontent p {color: #767066;
            font-family: "Verdana", "Times New Roman", sans-serif;
            font-size: 0.9em;
            margin-left: 20px;
            line-height: 150%}
    
#maincontent h1 {color: #767066;
                font-family: "Verdana", "Times New Roman", sans-serif;
                font-size: 1.5em;
                margin-left: 20px;}
                
#subcontent p {color: #767066;
            font-family: "Verdana", "Times New Roman", sans-serif;
            font-size: 0.6em;
            padding: 0;
            margin-left: 20px;
            line-height: 200%;}

#subcontent h1, h2 {color: #51473d;
            font-family: "Verdana", "times new roman", sans-serif;
            font-size: 0.8em;
            margin-left: 20px;}

/*Länkar*/

#subcontent li a {color: #51473d;}                

#subcontent ul {list-style-type: none;
                margin-left: 20px;
                padding: 0;
                line-height: 150%;}


 
    
            





